<h1>Username: {{username}}</h1>
<h2>First Name: {{firstName}}</h2>
<h2>Last Name: {{lastName}}</h2>
<h2>Profession: {{profession}}</h2>
<p>Bio: {{bio}}</p>
<p>Click <a href="http://localhost:3000/logout">here</a> to logout.</p>